
.idea/misc.xml

.idea/modules.xml

.idea/twitter-news-classification-spark.iml

.idea/workspace.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

config.properties

streaming_test_data/
streaming_data/
streaming_signal/

Output/testData-[0-9]*/_SUCCESS
Output/unlabelledData-[0-9]*/_SUCCESS

Models/GoogleNews-vectors-negative300.bin
